<ion-content [fullscreen]="true">
  
  <body style="background-image: url('assets/background1.png');">
    <br>
    <br>
    <br>
    <ion-header style="color:white; margin-left:150px;">Plans</ion-header>


  <ion-button routerLink="/activity" color="light">
    &lt;
  </ion-button>

  <ion-card>
    <ion-card-header>
    Fri-Sun
  </ion-card-header>
  </ion-card>
  
  <ion-button routerLink="/plans" color="light">&gt;</ion-button>
  <ion-header style="font-weight:bold; font-style:underline; color:white; margin-left: 70px;">
    Bedtime</ion-header>
  <ion-header style="color:white; margin-left:100px;">11:00 PM</ion-header>

  <ion-header style="font-weight:bold; color:white; margin-left:200px;">Wake Time</ion-header>
  <ion-header style="font-weight:bold; color:white; margin-left:200px;">6:00 AM</ion-header>
  
  <img src="assets/plans.png">
  </body>
</ion-content>
