<ion-content>
  <body style="background-image: url('assets/background1.png');">
  </body>
  <br>
  <br>
  <br>
  <ion-button routerLink="/direction">
    &lt;
  </ion-button>

<h2>Having Nightmare</h2>

  <ion-card class="tips" color="dark">
    <ion-content>
<p>
1. Stress
You are aware by now that dreams may be brought on by stress, worry, and despair.
Setting aside time to dwell on those unfavorable thoughts and feelings can help you keep them under control.</p>
</ion-content>
  </ion-card>

  <ion-card class="tips" color="dark">
    <ion-content>
<p>
2. Steer clear of horror stuff. 
Although it may seem apparent, horror films and books might trigger dreams
Try pausing or taking a break to see if this stops the nightmares.</p>
</ion-content>
  </ion-card>

<ion-card class="tips" color="dark">
    <ion-content>
<p>
3. Before going to bed, avoid engaging in stimulating tasks. 
Before going to bed, try to unwind for at least an hour. 
This entails shutting off the television, getting up from your desk, and turning off all other electronics. 
</p>
</ion-content>
  </ion-card>
</ion-content>