<ion-router-outlet id="content" main></ion-router-outlet>
<ion-button routerLink="/activity">
  &lt;
</ion-button>

<ion-content>

  <ion-card class="tips" color="dark">
    <ion-button class="pages" color="dark" routerLink="/direction/sleep">Trouble Falling Asleep</ion-button>
  </ion-card>

  <ion-card class="tips" color="dark">
    <ion-button class="pages" color="dark" routerLink="/direction/awake">Awake in the middle of the night</ion-button>
  </ion-card>

  <ion-card class="tips" color="dark">
    <ion-button class="pages" color="dark" routerLink="/direction/nightmare">Having Nightmare</ion-button>
  </ion-card>

</ion-content>
