<ion-content>
<body style="background-image: url('assets/background1.png');">
  <br>
  <br>
  <br>

  <ion-button routerLink="/activity" color="light">
    &lt;
  </ion-button>

  <ion-segment value="default">
    <ion-segment-button value="default" routerLink="/tracker">
      <ion-label>Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" >
      <ion-label>Month</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card color="secondary">
    <img src="assets/month.png">
  </ion-card>


  </body>
</ion-content>
