<ion-content>
  <body style="background-image: url('assets/background1.png');">
  </body>
  
  
  <ion-card class="plan" color="success">
    
    <ion-card-header>
      <ion-card-content>
        Sleep Plans
      </ion-card-content>
    </ion-card-header>
    <ion-card-content>
      <!-- <img src="assets/sleepplanicon.png" class="card"> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="track" color="warning">
    <ion-card-header>
      <ion-card-content>
        Sleep Tracker
      </ion-card-content>
    </ion-card-header>
    <ion-card-content>
      <!-- <img src="assets/trackicon.png" class="card"> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="interventions" color="medium">
    <ion-card-header>
      <ion-card-content>
        Directed Intervensions
      </ion-card-content>
    </ion-card-header>
    <ion-card-content>
      <!-- <img src="assets/directicon.png" class="card"> -->
    </ion-card-content>
  </ion-card>


</ion-content>