<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      InsomniCare
    </ion-title>
    <img src="assets/icon.png" class="icon">
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="content" color="dark">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark">
    <ion-list>
      <ion-item color="dark">Sleep Educational Resources</ion-item>
      <ion-item color="dark">Feedbacks & Ratings</ion-item>
      <ion-item color="dark">Music</ion-item>
      <ion-item color="dark">Widget</ion-item>
      <ion-item color="dark">
        <ion-toggle slot="end">Light Mode</ion-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>

<ion-content>
  <img src="assets/starbg.png">

<ion-tab-button tab="HOME">
  <ion-icon name="moon"></ion-icon>
  <ion-label>HOME</ion-label>
</ion-tab-button>

<ion-tab-button tab="activity">
  <ion-icon name="star"></ion-icon>
  <ion-label>ACTIVITY</ion-label>
</ion-tab-button>

<ion-tab-button tab="profile">
  <ion-icon name="person-circle"></ion-icon>
  <ion-label>PROFILE</ion-label>
</ion-tab-button>

</ion-content>
