<ion-content>
  <body style="background-image: url('assets/background1.png');">
  </body>
  <br>
  <br>
  <br>
  <ion-header style="color:white; margin-left:90px;">Awake in the middle of the night</ion-header>
  <ion-button routerLink="/direction">
    &lt;
  </ion-button>

  <ion-card class="tips" color="dark">
    <ion-card-content>
1. Your sleeping environment should be:  
Dark: Try to make it as dark as you can.  
Aim for coolness, around 18 to 24 degrees celsius  
Quiet: If sounds disturb you, white noise could be helpful. Still, silence would be ideal.
</ion-card-content>
  </ion-card>

  <ion-card class="tips" color="dark">
    <ion-card-content>
2. Exposure to Light
Sleeping having the lights on might increase the number of overnight awakenings.
In the evening, exposure to light can inhibit the generation of melatonin, which is your body's natural sleep hormone. This may make it more difficult to get to sleep and remain asleep.
</ion-card-content>
</ion-card>
</ion-content>