<ion-content>
  <body style="background-image: url('assets/background1.png');">
    <br>
    <br>

<ion-card class="links" color="light">
  <ion-card-content>
    6 Steps To Better Sleep
  </ion-card-content>
  <ion-card-content>
    <a href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/sleep/art-20048379#:~:text=Keep%20your%20room%20cool%2C%20dark,environment%20that%20suits%20your%20needs">Learn More</a>
  </ion-card-content>
</ion-card>


<ion-card class="links" color="light">
  <ion-card-content>
    17 Tips To Better Sleep
  </ion-card-content>
  <ion-card-content>
    <a href="https://www.healthline.com/nutrition/17-tips-to-sleep-better#_noHeaderPrefixedContent">Learn More</a>
  </ion-card-content>
</ion-card>

<ion-card class="links" color="light">
  <ion-card-content>
    How To Stop Nightmare
  </ion-card-content>
  <ion-card-content>
    <a href="https://www.goodhousekeeping.com/health/wellness/a31996190/how-to-stop-nightmares/">Learn More</a>
  </ion-card-content>
</ion-card>

<ion-card class="links" color="light">
  <ion-card-content>
    How To Deal With Nightmare
  </ion-card-content>
  <ion-card-content>
    <a href="https://kidshealth.org/en/teens/expert-nightmares.html#:~:text=Cutting%20out%20caffeine%2C%20alcohol%2C%20and,%2C%20books%2C%20and%20video%20games">Learn More</a>
  </ion-card-content>
</ion-card>

<ion-card class="links" color="light">
  <ion-card-content>
    How To Prevent Nightmares
  </ion-card-content>
  <ion-card-content>
    <a href="https://www.calm.com/blog/how-to-prevent-nightmares">Learn More</a>
  </ion-card-content>
</ion-card>

</body>
</ion-content>