<ion-content>
  <body style="background-image: url('assets/background1.png');">
    <br>
    <br>

<ion-card class="links" color="light">
  <ion-card-content>
    6 Steps To Better Sleep
  </ion-card-content>
  <ion-card-content>
    <a href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/sleep/art-20048379#:~:text=Keep%20your%20room%20cool%2C%20dark,environment%20that%20suits%20your%20needs">Learn More</a>
  </ion-card-content>
</ion-card>

<ion-card class="links" color="light">
  <ion-card-content>
    17 Tips To Better Sleep
  </ion-card-content>
  <ion-card-content>
   
  </ion-card-content>
</ion-card>

<ion-card class="links" color="light">
  <ion-card-content>
    How To Stop Nightmare
  </ion-card-content>
  <ion-card-content>
   
  </ion-card-content>
</ion-card>

<ion-card class="links" color="light">
  <ion-card-content>
    How To Deal With Nightmare
  </ion-card-content>
  <ion-card-content>
   
  </ion-card-content>
</ion-card>

<ion-card class="links" color="light">
  <ion-card-content>
    How To Prevent Nightmares
  </ion-card-content>
  <ion-card-content>
   
  </ion-card-content>
</ion-card>

</body>
</ion-content>
