<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Summary</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="assets/profile.png" style="margin-left:-100px"> 
  <h3>Dayangku Syazwana</h3>

  <ion-card color="secondary">
    <ion-card-header>
      Your Sleeping Habits Over Time
    </ion-card-header>
    <ion-card-content>
      <img src="assets/activitysummary.png">
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-header>
      Your Entries
    </ion-card-header>
    <ion-card-content>
      <img src="assets/activitysummary2.png">
    </ion-card-content>
  </ion-card>

  <p routerLink="/tracker">See All</p>
</ion-content>
