<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <body style="background-image: url('assets/background1.png');">
    <ion-header style="color:white; margin-left:165px;">Summary</ion-header>


  <img src="assets/profile.png" style="margin-left:-100px"> 
 <ion-header style="color:white;margin-left:165px; margin-top: -100px;">Dayangku Syazwana</ion-header>
 <br>

  <ion-card color="dark">
    <ion-card-header>
      Your Sleeping Habits Over Time
    </ion-card-header>
    <ion-card-content>
      <img src="assets/activitysummary.png">
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-header style="color:whiite;">
      Your Entries
    </ion-card-header>
    <ion-card-content>
      <img src="assets/activitysummary2.png">
    </ion-card-content>
  </ion-card>

  <p routerLink="/tracker">See All</p>
</body>
</ion-content>
