<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      InsomniCare
    </ion-title>
    <img src="assets/icon.png" class="icon">
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="content" color="dark">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark">
    <ion-list>
      <ion-item color="dark">Sleep Educational Resources</ion-item>
      <ion-item color="dark">Feedbacks & Ratings</ion-item>
      <ion-item color="dark">Music</ion-item>
      <ion-item color="dark">Widget</ion-item>
      <ion-item color="dark">
        <ion-toggle slot="end">Light Mode</ion-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>


<ion-content [fullscreen]="true">
  <h5>Hello, Syazwana</h5>
  <p>14th March 2024</p>

  <ion-button class="guide-button" color="primary-contrast">Guide</ion-button>

  <ion-card class="start" color="tertiary">
    <ion-card-header>
      <ion-card-title>
        Thursday
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sleep time : 9:00pm - 5:00am
    </ion-card-content>
    <ion-button class="start-button" color="primary-contrast">START</ion-button>
  </ion-card>

  <p>ACTIVITY SUMMARY</p>
  <P>See All</P>

  <ion-card class="start" color="secondary">
    <ion-card-header>
      <ion-card-title>
        Your Sleepings Habits Over Time
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/graphsummary.png">
    </ion-card-content>
  </ion-card>

  <ion-tab-button tab="HOME">
    <ion-icon name="moon"></ion-icon>
    <ion-label>HOME</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="activity">
    <ion-icon name="star"></ion-icon>
    <ion-label>ACTIVITY</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="profile">
    <ion-icon name="person-circle"></ion-icon>
    <ion-label>PROFILE</ion-label>
  </ion-tab-button>

</ion-content>
