<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      InsomniCare
    </ion-title>
    <img src="assets/icon.png" class="icon">
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="content" color="dark">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark">
    <ion-list>
      <ion-item color="dark" routerLink="/resources">Sleep Educational Resources</ion-item>
      <ion-item color="dark" routerLink="/ratings">Feedbacks & Ratings</ion-item>
      <ion-item color="dark" routerLink="/music">Music</ion-item>
      <ion-item color="dark" routerLink="/widget">Widget</ion-item>
      <ion-item color="dark">
        <ion-toggle slot="end">Light Mode</ion-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>



  <ion-tabs>
    <ion-tab-bar slot="bottom" color="medium">
      <ion-tab-button tab="home">
        <ion-icon name="moon"></ion-icon>
        <ion-label>HOME</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="activity">
        <ion-icon name="star"></ion-icon>
        <ion-label>ACTIVITY</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>PROFILE</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>