<ion-content>=
<body style="background-image: url('assets/background1.png');">
  <br>
  <br>
  <br>

  <ion-button routerLink="/activity">
    &lt;
  </ion-button>

  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" routerLink="/tracker2">
      <ion-label>Month</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card color="secondary">
    <img src="assets/week.png">
  </ion-card>

  </body>
</ion-content>
