<ion-content>
  <br>
  <br>
  <br>
  <ion-button routerLink="/direction">
    &lt;
  </ion-button>

<h2>Trouble Falling Asleep</h2>

  <ion-card class="tips" color="dark">
    <ion-card-content>
<p>
1. Limit your midday naps. 
Might disrupt your sleep at night. 
Avoid taking naps in the late hours of the day
Restrict naps to no longer than one hour.
You may require to take a nap early 
   in the morning before work.
</p>
</ion-card-content>
  </ion-card>

  <ion-card class="tips" color="dark">
    <ion-card-content>
<p>
2. Control your anxieties 
Before going to bed, try to find a solution to your troubles or issues. 
Managing stress might be beneficial.
Begin with the fundamentals, including organizing yourself, establishing priorities,
and assigning duties to others. </p>
</ion-card-content>
  </ion-card>

  <ion-card class="tips" color="dark">
    <ion-card-content>
<p>
3. Avoid consuming coffee in the afternoon.
According to one research , caffeine use up to six hours before bed considerably reduced the quality of sleep. 
Your blood levels of caffeine can remain up for 6–8 hours.</p>
</ion-card-content>
  </ion-card>
</ion-content>