<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>
<!-- 
<ion-content [fullscreen]="true">
  <body style="background-image: url('assets/background1.png');"> -->


<ion-content>
  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>User Profile</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Settings</ion-label>
    </ion-segment-button>
  </ion-segment>

  <img src="assets/profile.png">
  <h2>Dayangku Syazwana</h2>

  <ion-card class="start" color="danger">
    <ion-card-header>
      <ion-card-content>
        22FTT1515student.pb.edu.bn
      </ion-card-content>
    </ion-card-header>
    </ion-card>

    <ion-card class="start" color="danger">
      <ion-card-header>
        <ion-card-content>
          +673 8362525
        </ion-card-content>
      </ion-card-header>
      </ion-card>

      <ion-card class="start" color="danger">
        <ion-card-header>
          <ion-card-content>
            Student
          </ion-card-content>
        </ion-card-header>
        </ion-card>
  </ion-content>
  <!-- </body>
</ion-content> -->
