<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <body style="background-image: url('assets/background1.png');">
  <img src="assets/profile.png">
  <ion-header style="color:white; margin-left:120px;">Dayangku Syazwana</ion-header>

  <ion-card class="start" color="danger">
    <ion-card-header>
      <ion-card-content>
        22FTT1515student.pb.edu.bn
      </ion-card-content>
    </ion-card-header>
    </ion-card>

    <ion-card class="start" color="danger">
      <ion-card-header>
        <ion-card-content>
          +673 8362525
        </ion-card-content>
      </ion-card-header>
      </ion-card>

      <ion-card class="start" color="danger">
        <ion-card-header>
          <ion-card-content>
            Student
          </ion-card-content>
        </ion-card-header>
        </ion-card>
      </body>
  </ion-content>
  <!-- </body>
</ion-content> -->
