<ion-content [fullscreen]="true">
  <body style="background-image: url('assets/startbg.png');">
    <br>
    <br>
    <br>
    <ion-header style="color:white; margin-left: 160px; margin-top:180px;">Alarm at:</ion-header>
    <h1 style="color:white; margin-left: 170px; margin-top:140px;">5:00AM</h1>
    
    <p style="color:white; margin-left: 145px;">Now:</p>
    <h1 style="color:white; margin-left: 145px;">1:00AM</h1>
    <br>
    <br>
    <br>
    <br>
    <p style="color:white; margin-left: 145px;">Sleep Duration</p>
  <!-- TIMER -->
  
  <ion-button color="secondary" routerLink="/start" style="margin-left: 135px;">START TIMER</ion-button>
    </body>
</ion-content>
