<ion-router-outlet id="content" main></ion-router-outlet>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      InsomniCare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <body style="background-image: url('assets/background1.png');">
  <h5 style="margin-left: 20px; color:white;">Hello, Syazwana</h5>
  <p style="margin-left: 20px; color:white;">14th March 2024</p>

  <ion-card class="start" color="tertiary">
    <ion-card-header>
      <ion-card-title style="color:white;">
        Thursday
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="color:white;">
      Sleep time : 9:00pm - 5:00am
      <ion-button class="start-button" color="light"slot="end" class="ion-float-end" routerLink="/start">START</ion-button>
    </ion-card-content>
 
  </ion-card>

  <p style="margin-left: 20px; color:white;">ACTIVITY SUMMARY</p>
  <P style="margin-left: 50px; color:white;" routerLink="/summary">See All</P>

  <ion-card class="start" color="secondary">
    <ion-card-header>
      <ion-card-title style="color:black;">
        Your Sleepings Habits Over Time
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/graphsummary.png">
    </ion-card-content>
  </ion-card>
</body>
</ion-content>