
  <ion-content>
   
  <br>
  <br>
  <ion-card color="medium" class="card">
    <ion-card-header>
      <ion-title>Acoustic</ion-title>
    </ion-card-header>
    <ion-card-content >
      <iframe width="350" height="200" src="https://www.youtube.com/embed/V6AqS2YJgaU?si=mUhYnwndYX97J5BX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> </ion-card-content>
  </ion-card>
  
  
  
  
  <ion-card color="medium" class="card">
    <ion-card-header>
      <ion-title>Classical</ion-title>
    </ion-card-header>
    <ion-card-content >
      <iframe width="350" height="200" src="https://www.youtube.com/embed/AqJuVSu58oI?si=lvsD3QOptZ8jDlk2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ion-card-content>
    </ion-card>
  
  <ion-card color="medium" class="card">
    <ion-card-header>
      <ion-title>Chillout</ion-title>
    </ion-card-header>
    <ion-card-content >
      <iframe width="350" height="200" src="https://www.youtube.com/embed/h287bt6jSjA?si=C5ZAyXu51Larq-u2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></ion-card-content>
  </ion-card>
  
  <ion-card color="medium" class="card">
    <ion-card-header>
      <ion-title>Lullabies</ion-title>
    </ion-card-header>
    <ion-card-content >
      <iframe width="350" height="200" src="https://www.youtube.com/embed/zdlu7gQm3b0?si=pRujvu204aVtLrqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
  
  <ion-card color="medium" class="card">
    <ion-card-header>
      <ion-title>white Noise</ion-title>
    </ion-card-header>
    <ion-card-content >
      <iframe width="350" height="200" src="https://www.youtube.com/embed/nMfPqeZjc2c?si=FAUwWmI2-3NHa7zC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></ion-card-content>
  </ion-card>
  
  <ion-card color="medium" class="card">
    <ion-card-header>
      <ion-title>ASMR</ion-title>
    </ion-card-header>
    <ion-card-content >
      <iframe width="350" height="200" src="https://www.youtube.com/embed/P-k8hm2jCRk?si=WAg9h0PUmk_TqYtt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  </ion-card-content>
  </ion-card>

</ion-content>

