<ion-card color="medium">
  <ion-title>
    Acoustic
  </ion-title>
    <ion-card-content>

    </ion-card-content>
</ion-card>

<ion-card color="medium">
  <ion-title>
    Classical
  </ion-title>
    <ion-card-content>
      
    </ion-card-content>
</ion-card>

<ion-card color="medium">
  <ion-title>
    Chillout
  </ion-title>
    <ion-card-content>

    </ion-card-content>
</ion-card>

<ion-card color="medium">
  <ion-title>
    Lullabies
  </ion-title>
    <ion-card-content>
      
    </ion-card-content>
</ion-card>

<ion-card color="medium">
  <ion-title>
    White Noise
  </ion-title>
    <ion-card-content>

    </ion-card-content>
</ion-card>

<ion-card color="medium">
  <ion-title>
    ASMR
  </ion-title>
    <ion-card-content>
      
    </ion-card-content>
</ion-card>


