<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">plans</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <body style="background-image: url('assets/background1.png');">
      <br>
      <br>


  <ion-button routerLink="/activity">
    &lt;
  </ion-button>

  <ion-card>
    <ion-card-header>
      Mon-Thu
    </ion-card-header>
  </ion-card>
  
  <ion-button routerLink="/plans2" style="color:white;">&gt;</ion-button>
  </body>
</ion-content>
